*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}
body{
    background:#F2F2F2;
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
}
.container{
    margin-top: 100px;
   background: #fff;
   width: 400px;
   height: 550px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logo{
    display: block;
    position: relative;
    width: 100px;
    top: -60px;
    left: 150px;
}
.form h2{
    font-weight: 300;
    font-size: 15px;
    margin-left: 20px;
}
.side {
    display: flex;
}
.side h3 {
    padding-left: 180px;
    padding-top: 10px;
}
.side h3 a{
    padding-right: 10px;
}
.form h3{
    font-size: 12px;
    padding-right: 10px;
}
.form h3 a{
color: #4285F4;
text-decoration: none;
}
/* ---------------------input--------------------- */
.input h5{
    margin-top: 15px;
    margin-left: 20px;
    font-weight: 200;
}
.input input{
    width: 350px;
    border-radius: 2px;
    margin-top: 5px;
    padding: 10px;
    margin-left: 20px;
    background-color: #F2F2F2;
    border: 1px solid #b3b1b1;
}
.input-2 h5{
    margin-top: 15px;
    margin-left: 20px;
    font-weight: 200;
}
.input-2 input{
    width: 350px;
    border-radius: 2px;
    margin-top: 5px;
    padding: 10px;
    margin-left: 20px;
    background-color: #F2F2F2;
    border: 1px solid #b3b1b1;
}
.input-3{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}
.input-3 h5{
    margin-left: 10px;
    font-weight: 100;
}

input[type=checkbox] {
    accent-color: #FF6C37;
    width: 20px;
}
.input-3 a{
    margin-left: 130px;
    text-decoration: none;
    font-size: 14px;
    color: #4285F4;
}
.input-5{
    margin-top: 25px;
    margin-left: 30px;
}
.input-5 button{
    background-color: #FF6C37;
    color: #fff;
    border: none;
    width: 350px;
    padding: 10px;
    border-radius: 2px;
} 
.divider{
    height: 1px;
    width: 100%;
    border-top: solid thin #f0f0f0;
    margin: 24px 0;
    text-align: center;
}
.divide::after{
    content: attr(data-label);
    display: inline-block;
    background: #fff;
    padding: 0 32px;
    position: relative;
    top: -10px;
    font-size: 12px;
    color: #9b9b9b;
}
.input-6{
    background-color: #4285F4;
    display: flex;
    color: #fff;
    border: none;
    width: 350px;
    padding: 10px;
    border-radius: 2px;
    margin-top: 25px;
    margin-left: 30px;
}
.input-6 .img{
    background-color: #fff;
    padding: 4px;
    border-radius: 2px;
}
.input-6 .txt{
    padding-left: 60px;
    margin-top: 8px;
}
.input-7{
    margin-top: 25px;
    margin-left: 30px;
}
.input-7 button{
    background-color: #ebe6e6;
    color: #9b9b9b;
    border: none;
    width: 350px;
    padding: 10px;
    border-radius: 2px;
} 
